body {
    padding: 0;
    margin: 0;
    background-color: rgb(32, 36, 51);
}

.navbar {
    padding: 5px;
}

.navbar ul {
    display: block;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 5px;
}

.navbar ul li a {
    color: white;
    font-size: 19px;
    font-family: sans-serif;
    text-decoration: none;
}

.navbar ul li p {
    color: white;
    font-size: 26px;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}